<header>
    <nav>
        <li><a href="/">MOVIE MAGIC</a></li>
        <form action="/search" method="POST">
            <img src="/img/search.svg" alt="" class="search-icon">
            <input type="text" name="search" id="">
            <input type="submit" value="Search">
        </form>
        <li><a href="/favourites">MY SHOWS</a></li>
    </nav>
</header>